*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
body{
    height:100vh;
    width:100vw;
}
header{
    
    display:flex;
    align-items:center;
    height:10%;
    background-color: #9a4a3b;
    
}
.logo{
    width:20%;
    text-align:center;
    
    font-size:25px;
    color: #FFF1a6;
    font-weight:bold;
    
}
.navbar{
    width:55%;
    
}
.search{
    width:30%;
    height:100%;
    display:flex;
    align-items:center;
    color:#0b132b;
    padding-left:20px;
    

}
.bx-search{
    padding:5px;
    color:#0b132b;
    background-color:white;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
#searchbar{
    padding:5px;
    border:none;
    outline:none;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;

}
.navbar ul{
    display:flex;
    justify-content:space-around; 
}
.navbar li{
    list-style:none;
}
.navbar a{
    position:relative;
    display:inline-block;
    text-decoration:none;
    color:#FFF1a6;
    font-weight:bold;
    padding-bottom:5px;
    transition:all 0.3s ease;
}
.navbar a:hover{
    color:rgb(15, 225, 232);
    transform: translateY(-20%);
}
.navbar a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:0;
    height:2px;
    
    background-color:rgb(15, 225, 232);
    transition: width 0.3s ease;
}
.navbar a:hover::after{
    width:100%;
}
main{
    display:flex;
    
}
.hero{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.image{
    width:50%;
    display:flex;
    
    justify-content:center;
    align-items:center;
    border:2px solid black;
}